Repository marcmarina/turbo-playground: changes, and which lint-staged commands are due for each by the changed paths.
All: sort-package-json -- --write, eslint --fix --quiet, prettier --write

.lintstagedrc:

{
  "package.json": ["sort-package-json -- --write"],
  "*.ts": ["eslint --fix --quiet", "prettier --write"]
}

Rewritten entrypoint
  apps/express-app/src/index.ts
Due: eslint --fix --quiet, prettier --write

Updated Koa server
  apps/koa/src/server.ts
Due: eslint --fix --quiet, prettier --write

Renamed express-app to express
  apps/express/.env.example
  apps/express/.gitignore
  apps/express/eslint.config.mjs
  apps/express/helm/Chart.yaml
  apps/express/helm/templates/autoscaler.yaml
  apps/express/helm/templates/deployment.yaml
  apps/express/helm/templates/ingress.yaml
  apps/express/helm/templates/service.yaml
  apps/express/helm/templates/servicemonitor.yaml
  apps/express/helm/values.yaml
  apps/express/jest.config.js
  apps/express/package.json
  apps/express/src/config.ts
  apps/express/src/index.ts
  apps/express/src/load-tests/post-user.ts
  apps/express/src/routes/resources.ts
  apps/express/src/routes/user.ts
  apps/express/src/server.ts
  apps/express/src/utils.ts
  apps/express/tsconfig.json
  docker-compose.load-test.yml
  yarn.lock
Due: sort-package-json -- --write, eslint --fix --quiet, prettier --write

Fixed deployment
  .github/workflows/build-push-deploy.yml
Due: none

Added new metrics middleware
  apps/express/src/server.ts
Due: eslint --fix --quiet, prettier --write

Updated Harbor URL
  .github/workflows/build-push-deploy.yml
  apps/express/helm/values.yaml
  apps/front-end/helm/deployment.yaml
Due: none

Updated middleware
  apps/express/src/server.ts
Due: eslint --fix --quiet, prettier --write

Helm chart improvements
  apps/express/helm/Chart.yaml
  apps/express/helm/templates/deployment.yaml
  apps/express/helm/values.yaml
Due: none

Bumped turbo to v2.10.12
  package.json
  turbo.json
  yarn.lock
Due: sort-package-json -- --write

Updated runs-on
  .github/workflows/test.yml
Due: none

Revert "Updated runs-on"
  .github/workflows/test.yml
Due: none

Bumped yarn to v4.18.0
  .yarn/releases/yarn-4.1.1.cjs
  .yarn/releases/yarn-4.18.0.cjs
  .yarnrc.yml
  package.json
  yarn.lock
Due: sort-package-json -- --write

Updated hostname
  .github/workflows/build-push-deploy.yml
Due: none

Fixed node version
  .node-version
Due: none

Bumped node version
  .node-version
  .tool-versions
  Dockerfile
Due: none

Added http-terminator to Koa app
  apps/koa/package.json
  apps/koa/src/index.ts
  yarn.lock
Due: sort-package-json -- --write, eslint --fix --quiet, prettier --write

Added new log
  apps/koa/src/index.ts
Due: eslint --fix --quiet, prettier --write

Bumped checkout action
  .github/workflows/build-push-deploy.yml
  .github/workflows/test.yml
Due: none

Deploy with Flux instead of helm from CI
  .github/workflows/build-push-deploy.yml
  .github/workflows/build-push.yml
  .tool-versions
  deploy/README.md
  deploy/apps/express.yaml
  deploy/apps/front-end.yaml
  deploy/apps/image-automation.yaml
  deploy/apps/kustomization.yaml
  deploy/clusters/k3s/apps.yaml
Due: none

Added ArgoCD
  .github/workflows/build-push-deploy.yml
  apps/express/helm/values-image.yaml
  deploy/argocd/applications/turbo-express.yaml
Due: none

Added ArgoCD
  .tool-versions
  deploy/argocd/applications/turbo-express.yaml
Due: none

Deleted ArgoCD file
  deploy/argocd/applications/turbo-express.yaml
Due: none

Added CLAUDE.md
  CLAUDE.md
Due: none

Removed service-monitor
  apps/express/helm/templates/servicemonitor.yaml
Due: none

Build preview images for PRs labelled preview
  .github/workflows/preview.yml
Due: none

Updated message
  apps/express/src/index.ts
Due: eslint --fix --quiet, prettier --write

Revert "Build preview images for PRs labelled preview"
  .github/workflows/preview.yml
Due: none
