Repository marcmarina/turbo-playground: changes, and which lint-staged commands are due for each by the changed paths.
All: sort-package-json -- --write, eslint --fix --quiet, prettier --write

Helm fixes
  apps/express-app/helm/templates/autoscaler.yaml
  apps/express-app/helm/templates/deployment.yaml
  apps/express-app/helm/values.yaml
Due: none

Revert "Helm fixes"
  apps/express-app/helm/templates/autoscaler.yaml
  apps/express-app/helm/templates/deployment.yaml
  apps/express-app/helm/values.yaml
Due: none

Updated port
  apps/express-app/helm/templates/deployment.yaml
Due: none

Updated command
  apps/express-app/helm/values.yaml
Due: none

Added atomic flag
  .github/workflows/build-push-deploy.yml
Due: none

Tried to fix command again
  apps/express-app/helm/templates/deployment.yaml
Due: none

Yet another fix
  apps/express-app/helm/templates/deployment.yaml
Due: none

Updated autoscaler
  apps/express-app/helm/templates/autoscaler.yaml
Due: none

Added fastify-app
  apps/fastify-app/.env.example
  apps/fastify-app/.gitignore
  apps/fastify-app/jest.config.js
  apps/fastify-app/package.json
  apps/fastify-app/src/index.ts
  apps/fastify-app/tsconfig.json
  yarn.lock
Due: sort-package-json -- --write, eslint --fix --quiet, prettier --write

Split server and entrypoint
  apps/fastify-app/src/config.ts
  apps/fastify-app/src/index.ts
  apps/fastify-app/src/server.ts
Due: eslint --fix --quiet, prettier --write

Added eslint
  apps/fastify-app/eslint.config.mjs
  apps/fastify-app/package.json
  apps/fastify-app/src/index.ts
  apps/fastify-app/src/server.ts
  eslint.config.mjs
  packages/eslint-config/index.js
  packages/eslint-config/package.json
  turbo.json
  yarn.lock
Due: sort-package-json -- --write, eslint --fix --quiet, prettier --write

Added exit route
  apps/express-app/src/server.ts
Due: eslint --fix --quiet, prettier --write

Added route
  apps/express-app/src/server.ts
Due: eslint --fix --quiet, prettier --write

Added host query
  apps/express-app/src/server.ts
Due: eslint --fix --quiet, prettier --write

Added memory leak route
  apps/express-app/src/server.ts
Due: eslint --fix --quiet, prettier --write

Added TS SDK path
  .vscode/settings.json
Due: none

Updated type
  apps/express-app/src/server.ts
Due: eslint --fix --quiet, prettier --write

Updated workflow to use OAuth
  .github/workflows/build-push-deploy.yml
Due: none

Added CPU stress route
  apps/express-app/src/server.ts
Due: eslint --fix --quiet, prettier --write

Updated replica counts
  apps/express-app/helm/values.yaml
Due: none

Added pre-push
  .husky/pre-push
Due: none

Added ESLint
  apps/express-app/eslint.config.mjs
  apps/express-app/package.json
  apps/express-app/src/config.ts
  apps/express-app/src/index.ts
  apps/express-app/src/web-socket-manager.ts
  apps/koa/eslint.config.mjs
  apps/koa/package.json
  apps/koa/src/index.ts
  package.json
  packages/config/eslint.config.mjs
  packages/config/package.json
  packages/context/eslint.config.mjs
  packages/context/package.json
  packages/eslint-config/index.js
  packages/logger/eslint.config.mjs
  packages/logger/package.json
  packages/logger/src/logger.ts
  turbo.json
  yarn.lock
Due: sort-package-json -- --write, eslint --fix --quiet, prettier --write

Added lint to verify
  turbo.json
Due: none

Deleted Websockets code
  apps/express-app/package.json
  apps/express-app/src/index.ts
  apps/express-app/src/server.ts
  apps/express-app/src/web-socket-manager.ts
  apps/front-end/src/App.tsx
  apps/front-end/src/use-web-socket.tsx
  yarn.lock
Due: sort-package-json -- --write, eslint --fix --quiet, prettier --write

Rewritten shutdown handler
  apps/express-app/src/index.ts
Due: eslint --fix --quiet, prettier --write

Deleted fastify-app
  apps/fastify-app/.env.example
  apps/fastify-app/.gitignore
  apps/fastify-app/eslint.config.mjs
  apps/fastify-app/jest.config.js
  apps/fastify-app/package.json
  apps/fastify-app/src/config.ts
  apps/fastify-app/src/index.ts
  apps/fastify-app/src/server.ts
  apps/fastify-app/tsconfig.json
Due: sort-package-json -- --write, eslint --fix --quiet, prettier --write

Normalizing path
  apps/express-app/src/server.ts
Due: eslint --fix --quiet, prettier --write

yarn.lock
  yarn.lock
Due: none

LAB-000 Added route and load test
  apps/express-app/package.json
  apps/express-app/src/load-tests/post-user.ts
  apps/express-app/src/server.ts
  docker-compose.load-test.yml
  yarn.lock
Due: sort-package-json -- --write, eslint --fix --quiet, prettier --write

Added simulated latency
  apps/express-app/src/server.ts
Due: eslint --fix --quiet, prettier --write

Updated load test and buckets
  apps/express-app/package.json
  apps/express-app/src/load-tests/post-user.ts
  apps/express-app/src/routes/user.ts
  apps/express-app/src/server.ts
Due: sort-package-json -- --write, eslint --fix --quiet, prettier --write

Updated latency
  apps/express-app/src/routes/user.ts
Due: eslint --fix --quiet, prettier --write

Updated context
  apps/express-app/src/load-tests/post-user.ts
  apps/express-app/src/server.ts
  apps/koa/src/server.ts
  packages/context/src/context.ts
  packages/logger/package.json
  packages/logger/src/logger.ts
Due: sort-package-json -- --write, eslint --fix --quiet, prettier --write

Removed set
  apps/express-app/src/load-tests/post-user.ts
Due: eslint --fix --quiet, prettier --write

Added more metrics
  apps/express-app/src/server.ts
Due: eslint --fix --quiet, prettier --write

Added resource testing routes
  apps/express-app/src/routes/resources.ts
  apps/express-app/src/server.ts
Due: eslint --fix --quiet, prettier --write

Making it scale faster
  apps/express-app/helm/templates/autoscaler.yaml
Due: none

Revert "Making it scale faster"
  apps/express-app/helm/templates/autoscaler.yaml
Due: none

Updated scrape interval
  apps/express-app/helm/templates/servicemonitor.yaml
Due: none

Path conditions:
  sort-package-json -- --write: any of: package.json
  eslint --fix --quiet: any of: *.ts
  prettier --write: any of: *.ts
